<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>323177029678-mh2mc2a2r97tdbnd5acluki0sbno4bbt.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.323177029678-mh2mc2a2r97tdbnd5acluki0sbno4bbt</string>
		<key>API_KEY</key>
		<string>AIzaSyBKVjTQ-VwPiJMVzIUEZOwSCpund1EpOlE</string>
		<key>GCM_SENDER_ID</key>
		<string>323177029678</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.chatapp</string>
		<key>PROJECT_ID</key>
		<string>flutter-chat-9c752</string>
		<key>STORAGE_BUCKET</key>
		<string>flutter-chat-9c752.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:323177029678:ios:c93fb63b21b768f3aabfbf</string>
	</dict>
</plist>